
.loginPage {
	background-color: #01579B;
}

.mainBox {
	margin: 100px auto;
	width: 400px;
	padding: 20px;
	text-align: center;
}

.loginContainer {
	position: relative;
	background-color: #ECEFF1;
	padding: 5px;
	margin: auto;
	width: 300px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 20px;
}

#errorMessage {
	color: #F44336;
	font-size: 13px;
	margin: 8px;
}
